select,
input {
  display: block;
}

label {
  display: block;
  padding: 2rem 1rem;
  font-size: 1.2rem;
}

button {
  margin: 1rem;
}

select {
  width: 100%;
}

.grid {
  font-size: 1.4rem;
  max-width: 600px;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
