select,
input {
  display: block;
  width: 100%;
}

label {
  display: block;
  padding: 2rem 1rem;
  font-size: 1.2rem;
}

button {
  margin: 1rem;
}

.container {
  font-size: 1.4rem;
  max-width: 600px;
  margin: 5rem auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  button,
  select {
    padding: 1rem;
  }
}
